@import 'variable';
@import 'icon';

.deroulant{
    display: none;
    width: 100%;
    background-color: $menu;
    text-align: center;
    margin:0 auto;
   li{
       padding: 1%;
       width: 25%;
       display: flex;
       justify-content: space-between;
    
     border-bottom: solid 2px $white;
     a{
         text-decoration: none;
         color:$white;
     }
        .logo{
            width: 10%;
            height: 20px;
            color: $white;
            justify-content: space-between;
        }
    }
    button{
        background-color: $orange;
        border:none;
    }


}